# ignore everything in the root except the theme we are working on  
wp-admin
wp-includes

wp-content/*
!wp-content/themes/

wp-content/themes/twenty*


index.php
wp-*.php
xmlrpc.php

readme.html
license.txt

.htaccess